---
version: '2'
services:
  kibana:
    image: docker.elastic.co/kibana/kibana:6.8.6
    links:
      - elasticsearch
    ports:
      - 5601:5601
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.8.6
    ports:
      - 9200:9200